<ion-header>
  <ion-toolbar color="primary">
    <ion-title>The news</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeCategory()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="articles.length; else empty">
    <app-news-card
      *ngFor="let a of articles"
      [article]="a"
      (open)="openArticle($event)">
    </app-news-card>

    <ion-infinite-scroll (ionInfinite)="load($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <ng-template #empty>
    <ion-list>
      <ion-item lines="none">
        <ion-label>Cargando noticias…</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
