<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ article?.source?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openExternal()">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="article">
  <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>

  <ion-list inset="true">
    <ion-item lines="none">
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.author }} · {{ article.publishedAt | date:'medium' }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>{{ article.content || article.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="p-4">
    <ion-button expand="block" (click)="openExternal()">
      <ion-icon slot="start" name="open-outline"></ion-icon>
      Read full article
    </ion-button>
  </div>
</ion-content>
