<ion-header>
  <ion-toolbar>
    <ion-title>Update profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Last name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="onSave()">Update</ion-button>
</ion-content>
<ion-button expand="block" color="danger" (click)="logout()">
  <ion-icon slot="start" name="log-out-outline"></ion-icon>
  Logout
</ion-button>

