<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
 <ion-card>
  <ion-card-content>

    <ion-row>
<ion-col>
  <ion-input
   type="email" 
   label="email"
   placeholder="name@mail.com"
   labelPlacement="floating"
   formControlName="email"
   ></ion-input>
</ion-col>
</ion-row>

    <ion-row>
<ion-col>
  <ion-input
   type="password" 
   label="Password"
   placeholder="*******"
   labelPlacement="floating"
   formControlName="password"
   ></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
  <ion-button 
  type="submit" 
  color="primary"
  [disabled]="loginForm.invalid"
  >Login</ion-button>
</ion-col>
</ion-row>
  </ion-card-content>

 </ion-card>
 </form>
</ion-content>
