<ion-content [fullscreen]="true">
 <ion-card>
  <ion-card-content>

    <ion-row>
<ion-col>
  <ion-input
   type="email" 
   label="email"
   placeholder="name@mail.com"
   labelPlacement="floating"></ion-input>
</ion-col>
</ion-row>

    <ion-row>
<ion-col>
  <ion-input
   type="passwoerd" 
   label="Password"
   placeholder="*******"
   labelPlacement="floating"></ion-input>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
  <ion-button type="submit">Login</ion-button>
</ion-col>
</ion-row>
  </ion-card-content>

 </ion-card>
</ion-content>
